name: superuser_demo
description: "Flutter superuser package demo application"
publish_to: 'none'
version: 2.0.0
environment:
  sdk: '>=3.4.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  superuser:
    path: ../
  url_launcher: ^6.3.0
  font_awesome_flutter: ^10.7.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
flutter:
  uses-material-design: true
